[Desktop Entry]
Type=Application
Name=Ocean Sentry Start
Comment=Launch the Ocean Trash Detector
Exec=lxterminal -e "bash /home/marine/ocean_trash_detection/backend/launcher.sh"
Icon=camera-web
Terminal=false
Categories=Utility;Science;
X-KeepTerminal=true
